body{
	background-color: #ffffff;
	align-content: center;
	align-items: center;
	align-self: center;
	align-content: center;

}
.wrap{
	width: 40%;
	margin: auto;
	color: rgba(4, 4, 4, 0.826);
	border-radius: 10px;
	font-family: 'Trebuchet MS';
	background.color: #000000;
}
.container{
	padding: 5px;
}
table{
	margin: auto;
	}
table td{
	padding: 5px;
}
button{
	width: 50px;
	font-family: comic sans ms;
	height: 30px;
	background-color: #00CED1;
	background-radius: 7px; 
}
head{
	align-items: center;
	align-content: center;
}